*.[aios]
*.[gx]z
*.bz2
*.cache
*.diff
*.la
*.lo
*.orig
*.patch
*.rej
*.so
*DISTFILES
*~
.deps
.emacs*
.gdbinit
/.bootstrap
/ABOUT-NLS
/ChangeLog
/INSTALL
/Make.rules
/aclocal.m4
/build-aux
/conf*
!/configure.ac
/gnu/
/m4/
/rmt/
/stamp-h1
Makefile
Makefile.in
TAGS
