/ABOUT-NLS
/build-aux
*.a
*.la
*.lo
*.o
*.so
*~
.bootstrap
.deps
.emacs*
.libs
.gdbinit
ChangeLog
INSTALL
Make.rules
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
gnu
libtool
m4
rmt
stamp-h1
TAGS
