/remove-potcdate.sin~
/insert-header.sin~
/en@quot.header~
/en@boldquot.header~
/Makefile.in.in
/Makevars.template
/Rules-quot
/boldquot.sed
/en@boldquot.header
/en@quot.header
/insert-header.sin
/quot.sed
/remove-potcdate.sed
/remove-potcdate.sin
*.gmo
*.mo
*.po
*~
.reference
LINGUAS
Makefile
Makefile.in
Makevars
POTFILES
insert-header.sed
stamp-po
tar.pot
